body.modal-open {
  overflow: hidden;
  height: 100vh;
}

/* =====================
   MODAL OVERLAY
===================== */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal.active {
  display: block;
}

/* =====================
   MODAL BOX
===================== */
.modal-dialog {
  width: 100%;
  max-width: 700px;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* =====================
   MODAL CONTENT
===================== */
.modal-for-content {
  background-color: #1a1a1a;
  color: #fff;
  padding: 35px 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* =====================
   HEADER
===================== */

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #2f2f2f;
  flex-shrink: 0;
}

.modal-header p {
  font-family: "inter";
  font-size: 1.2rem;
  opacity: 0.9;
  margin-bottom: 6px;
}

.modal-header h3 {
  font-family: Recoleta;
  font-size: 30px;
}

.close-btn {
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #ffffffad;
  margin-left: auto;
}

.modal-body {
  flex: 1 1 auto; /* IMPORTANT */
  padding: 1rem 2rem;
}

/* =====================
   FORM ELEMENTS
===================== */

.fill-up-pera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem !important;
}

.col-form-label {
  display: flex;
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-right {
  margin-right: 25%;
}

.mandatory-feild {
  color: red;
  padding: 0 5px;
}

.form-control,
.phone-wrapper input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-control,
.form-control:focus,
.phone-wrapper input,
.phone-wrapper input:focus {
  color: #efeff0;
  background: 0;
  border-color: #2f2f2f;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.from-bottom {
  margin-bottom: 1rem;
}

.service-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
  column-gap: 16px;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #a5a5a5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-label {
  font-family: "inter";
  font-size: 14px;
}

/* =====================
   FOOTER
===================== */

.modal-footer > * {
  margin: 0.25rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #2f2f2f;
  flex-shrink: 0;
}

/* =====================
   BUTTONS
===================== */

.designer-button,
.where-button {
  display: flex;
  gap: 2vw;
}

.designer-middle-button {
  background: #25272d;
  padding: 11px 20px;
  width: 204px;
  height: 50px;
  transition: 0.2s;
  border-radius: 25px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.designer-middle-button .designer-middle-btnText,
.faq-middle-button .faq-middle-btnText {
  font-size: 22px;
  color: #fff;
  line-height: 29px;
  transition: 0.3s;
  font-family: "inter";
  text-align: center;
}

.designer-middle-btnTwo {
  position: absolute;
  top: 0;
  left: -100%; /* hidden to the left */
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #0b83fe;
  transition: left 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.designer-middle-button:hover .designer-middle-btnTwo {
  left: 0;
}
.designer-middle-button:hover .designer-middle-btnText {
  opacity: 0;
}

.designer-middle-button .designer-middle-btnText2,
.faq-middle-button .faq-middle-btnText2 {
  font-size: 22px;
  color: #fff;
  line-height: 29px;
  margin-right: 0;
  font-family: "inter";
  text-align: center;
}

.ecc-email-submit-btn {
  border: none;
  background: 0 0;
  cursor: pointer;
  width: 100%;
}

/* =====================
   SMOOTH SCROLLBAR
===================== */
.modal-for-content::-webkit-scrollbar {
  width: 6px;
}

.modal-for-content::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #2f2f2f;
  border-radius: 25px;
  position: relative;
}

#flag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 0 0 7px;
  font-size: 15px;
}

.flag-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 11px;
}

#flag svg {
  width: 22px;
  height: 22px;
}

#countryCode {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  display: none;
  z-index: 1000;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  display: none;
  z-index: 999;
  -webkit-overflow-scrolling: touch;
}

.dropdown-item {
  display: flex;
  gap: 8px;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-item .dropdown-flag svg {
  width: 22px;
  height: 22px;
}

.dropdown-item:hover {
  background: #f1f1f1;
}

.phone-wrapper input {
  border: none;
  outline: none;
  border-radius: 0px;
  /* width: 90%; */
}

.phone-wrapper:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
}

/* Optional: hide number arrows */
input[type="tel"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
