@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Recoleta-bold";
  src: url("../fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF-Pro-Display.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF-Pro-Display.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF-Pro-Display.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "SFProDisplay-test";
  src: url("../fonts/SF-Pro-Display_test/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 200;
}

:root {
  --timeline-gap: 1.6rem;
  --common-spacing: 4rem;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: #121921;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.common-spacing {
  padding: var(--common-spacing) 0;
}

.common-spacing-extra {
  padding-top: calc(var(--common-spacing) + 4rem);
}
.common-spacing-extra2 {
  padding-top: calc(var(--common-spacing) + 1.5rem);
}

main {
  margin-top: 4rem;
}

.container {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}

.hero-container {
  width: 100%;
  /* background: linear-gradient(to bottom, #1f3c5a 12%, #184f88 36%, #121921 80%, #121921 90%, #121921 100%); */
  background: linear-gradient(to bottom, #1f3c5a 0%, #224f79 25%, #215a95 40%, #295789 55%, #121921 85%, #121921 100%);
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 0 0;
  gap: 3.2rem;
}

.hero-1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Recoleta", serif;
  gap: 18px;
  width: 100%;
}

.launch-dominate-btn {
  background: #2266f0;
  color: #fefeff;
  opacity: 0.9;
  border: none;
  width: auto;
  padding: 4px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Recoleta";
  font-size: clamp(12px, 2.5vw, 23px);
  font-weight: 300;
  margin-bottom: 7px;
}

.hero-1 h1 {
  font-family: "Recoleta", serif;
}

.scalable-amazon {
  color: #fefeff;
  opacity: 0.9;
  font-size: clamp(1rem, 3vw, 34px);
  font-weight: 400;
  font-family: "Recoleta";
}

.scalable-amazon span {
  font-size: clamp(2.6rem, 5vw, 5.8125rem);
  font-weight: normal;
  background: linear-gradient(to bottom, white 0%, white 25%, #94c3ff 50%, #529dff 100%);
  line-height: 0.8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-1 p {
  color: #ffffff;
  opacity: 0.9;
  font-size: clamp(10px, 3vw, 1rem);
  font-weight: 400;
  font-family: "inter";
  line-height: 1.5;
  text-align: justify;
}

.get-started-btn {
  background: #ffdc00;
  color: #000;
  font-family: sans-serif;
  font-size: clamp(13px, 2.5vw, 1rem);
  font-weight: 700;
  border: none;
  padding: 4px 0px 4px 15px;
  border-radius: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animation-btn {
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn-text {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.btn-arrow {
  font-size: clamp(14px, 2.5vw, 18px);
  font-weight: 700;
  color: transparent;
  border-radius: 50%;
  background: black;
  padding: 5px;
  z-index: 3;
  overflow: hidden;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
  margin-left: 8px;
}

.btn-arrow::before {
  content: "→";
  position: absolute;
  color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-arrow::after {
  content: "→";
  position: absolute;
  color: #fff;
  transform: translateX(-150%);
  opacity: 0;
  transition: transform 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
}

.animation-btn:hover .btn-arrow::before {
  transform: translateX(150%);
  opacity: 0;
}

.animation-btn:hover .btn-arrow::after {
  transform: translateX(0);
  opacity: 1;
}

.btn-arrow::before {
  transition: transform 0.3s ease 0.1s, opacity 0.1s ease 0.1s;
}

.animation-btn:hover .btn-arrow::before {
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.btn-arrow::after {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.animation-btn:hover .btn-arrow::after {
  transition: transform 0.5s ease 0.1s, opacity 0.3s ease 0.1s;
}
.animation-btn:hover .btn-arrow::after {
  transform: translateX(0);
  opacity: 1;
  color: #fff;
}
.animation-btn::before {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 28px;
  height: 28px;
  background: black;
  border-radius: 50%;
  transition: transform 0.8s ease;
  z-index: 1;
}

.animation-btn:hover .btn-text {
  color: #fff;
}

.animation-btn:hover::before {
  transform: translateY(-50%) scale(20);
  border-color: #ffdc00;
}

.hero-2 {
  max-width: 100%;
}

.img-cover {
  display: none;
}

/* Revenue Section */
.reveneue-section {
  color: #fefeff;
}

.item-list {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.item-list-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.revenue-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.revenue-icon img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.item-list-content .revenue-icon h1 {
  font-size: clamp(18px, 4vw, 70px);
  font-weight: 700;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #41d0dd 0%, #41d0dd 40%, #4298ff 60%, #4298ff 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item-list-content p {
  font-size: clamp(5px, 1vw, 1rem);
  font-weight: 500;
  font-family: Poppins, sans-serif;
  color: white;
  opacity: 0.9;
}

/* Optimization Section */

.optimization-container {
  height: 100dvh;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.optimization-container h1 {
  font-family: "Recoleta", serif;
  font-size: clamp(1.1rem, 4vw, 4rem);
  font-weight: 400;
  background: linear-gradient(to bottom, #a0b6fd 0%, #7aa9fd 40%, #559dfd 60%, #1f8afd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.panel__stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
  color: #fefeff;
  position: relative;
}

.bg-blue {
  background: url("../images/Desktop/card-bg-new.webp");
  background-size: cover;
  background-size: 100% 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.panel__stack .panel__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - 15rem);
  border-radius: 30px;
  padding: 10% 8% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  will-change: transform;
}

/* .panel__stack .panel__card:last-child {
  margin-bottom: 0;
} */

.listing-optimization-desc {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.listing-title-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .listing-title-div img {
    width: 7%;
    height: 7%;
} */

.listing-optimization-desc h2 {
  font-family: "Recoleta", serif;
  font-size: clamp(16px, 3.5vw, 44px);
  font-weight: 300;
  color: white;
  opacity: 0.9;
}

.listing-optimization-desc-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listing-optimization-desc h3 {
  font-family: "Recoleta", serif;
  font-size: clamp(16px, 3.5vw, 44px);
  font-weight: 700;
  color: white;
  text-transform: capitalize;
}

.listing-optimization-desc-content p {
  font-family: Poppins, sans-serif;
  font-size: clamp(0.875rem, 2vw, 1.75rem);
  font-weight: 300;
  color: white;
}

.lets-talk-btn {
  background: #ffdc00;
  color: #000;
  font-size: 14px;
  font-family: "inter";
  border: none;
  padding: 6px 10px 6px 15px;
  border: 2px solid #ffdc00;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.panel__card-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Case Study Titles Section */

.sticky-parent {
  position: relative;
  /* overflow-x: hidden; */
}

.case-study-titles {
  padding: 0px 0 4% 0;
  width: 100%;
}

.case-study-title h1 {
  font-family: "Recoleta";
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 300;
  background: linear-gradient(to bottom, #a0b6fd 0%, #7aa9fd 40%, #559dfd 60%, #1f8afd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.case-study-title p {
  font-family: "Poppins";
  font-size: clamp(0.85rem, 3vw, 1.5rem);
  font-weight: 300;
  color: white;
  margin-top: 0;
  opacity: 0.9;
}

.horizontal {
  display: flex;
  gap: 40px;
  will-change: transform;
}

.case-study-container {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #05214b 0%, #133c9f 40%, #194cc4 70%, #36abdb 100%);
  padding: 20px;
  border-radius: 10px;
}

.case-study-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 55%;
  pointer-events: none;
  border-radius: 10px 0 0 0; /* Only round the top-left corner */

  border-top: 3px solid #526685;
  border-left: 3px solid #526685;

  /* Create the fade effect with mask */
  mask: linear-gradient(to right, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to bottom, #fff 0%, #fff 80%, transparent 100%);
  mask-composite: intersect;
  mask: linear-gradient(to right, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to bottom, #fff 0%, #fff 80%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask: linear-gradient(to right, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to bottom, #fff 0%, #fff 80%, transparent 100%);
  -webkit-mask-composite: source-in;
}

.case-study-container-text {
  width: 100%;
}

.case-study-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #fafbff 0%, #d8fcff 40%, #c3fdff 60%, #8affff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
  font-family: "Recoleta";
  font-weight: 300;
}

.case-study-header h2 {
  font-family: 'Recoleta';
  font-size: clamp(0.625rem, 2vw, 1.4375rem);
  font-weight: 400;
}
.case-study-header div img {
  height: 25px;
}

.case-study-growth-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.case-study-growth-left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.case-study-desc h1 {
  color: #fafbff;
  opacity: 0.9;
  font-family: "Recoleta", serif;
  font-size: clamp(0.85rem, 5vw, 2.7vw);
  font-weight: 300;
  margin: 0;
  width: 100%;
  letter-spacing: 0px;
}

.case-study-desc h1 .percentage {
  font-family: "Poppins";
}

.case-study-line {
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  opacity: 49%;
  margin: 10px 0px;
}

.growth-percentage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.growth-percentage div {
  display: flex;
  flex-direction: column;
}

.growth-percentage h2 {
  background: linear-gradient(to bottom, #41d3d9 0%, #38bfe3 40%, #2da9ee 60%, #1f8afd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Recoleta";
  font-size: clamp(1.5rem, 5vw, 3.6vw);
  font-weight: 200;
  margin-bottom: 0px;
  line-height: 100%;
}

.growth-percentage h2 span {
  font-family: "Poppins";
  font-weight: 400;
}

.growth-percentage p {
  margin: 0;
  color: #fff;
  font-family: "Recoleta-bold";
  font-size: clamp(0.9rem, 2.5vw, 1vw);
  font-weight: 100;
}

.growth-desc p {
  color: #fff;
  opacity: 0.9;
  font-family: Poppins;
  font-size: clamp(0.8125rem, 1.5vw, 1rem);
  font-weight: 300;
}

.our-impact-btn button {
  background: #ffdc00;
  color: #000;
  font-size: clamp(1rem, 1vw, 1.125rem);
  font-family: "SFProDisplay-test";
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.our-impact-btn button span {
  margin-left: 10px;
}

.our-impact-btn button span img {
  width: 22px;
  height: auto;
  margin-top: 6px;
}

.case-study-container-img-body {
  position: relative;
  width: 100%;
}

.case-study-container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study-container-img .case-study-img {
  width: 65%;
  height: 236px;
  object-fit: fill;
  border-radius: 10px;
  display: none;
}

.fake-review {
  position: relative;
  background-color: #031d42;
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fake-review::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 55%;
  pointer-events: none;
  border-radius: 10px 0 0 0;
  border-top: 2px solid #2f9094;
  border-left: 2px solid #2f9094;
  mask: linear-gradient(to right, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to bottom, #fff 0%, #fff 80%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask: linear-gradient(to right, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to bottom, #fff 0%, #fff 80%, transparent 100%);
  -webkit-mask-composite: source-in;
}

.fake-review::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 55%;
  pointer-events: none;
  border-radius: 0 0 10px 0;
  border-bottom: 2px solid #2f9094;
  border-right: 2px solid #2f9094;
  mask: linear-gradient(to left, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to top, #fff 0%, #fff 80%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask: linear-gradient(to left, #fff 0%, #fff 80%, transparent 100%), linear-gradient(to top, #fff 0%, #fff 80%, transparent 100%);
  -webkit-mask-composite: source-in;
}

.review-card-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fake-review-img {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.fake-review-img img {
  height: 100%;
}

.review-card-top div h1 {
  color: #fff;
  padding: 0;
  font-size: clamp(15px, 2.5vw, 1.7rem);
  text-align: left;
}

.review-card-rating {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2px;
}

.review-card-top p, .review-card-content p {
  color: #ffffffde;
  font-weight: 500;
  line-height: 1.3;
  font-size: clamp(0.625rem, 1vw, 0.875rem);
  text-align: left;
  font-family: 'inter';
}

.review-card-rating p {
  color: #fff;
  opacity: 0.8;
  margin: 0;
  font-size: 12px;
}

.review-card-rating-stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-card-rating-img {
  width: 10px;
  height: 10px;
}

/* Amazon PPC Section Top */
.amazon-ppc-card-body {
  position: relative;
}

.amazon-ppc-card {
  padding: 30px 20px;
  background: linear-gradient(to right, #05214b 0%, #133c9f 40%, #194cc4 70%, #1c55c6 100%);
  border-radius: 20px;
  margin: 0 auto;
}

.amazon-ppc-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.amazon-ppc-card-header span {
  color: #0fecee;
}

.amazon-ppc-card h1 {
  position: relative;
  color: white;
  font-family: "Recoleta", serif;
  font-size: clamp(1.125rem, 4vw, 4rem);
  font-weight: 400;
  z-index: 20;
  text-align: center;
}

.amazon-ppc-card-stat {
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
  text-align: center;
}

.amazon-ppc-card-stat div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.amazon-ppc-card-stat div h2 {
  font-size: 70px;
  font-family: "Recoleta";
  font-weight: normal;
}
.amazon-ppc-card-stat div h2 .percentage {
  font-family: sans-serif;
}

.amazon-ppc-card-stat div p {
  font-size: 13px;
  font-family: 'Poppins';
  margin: 0;
  color: #adb6c1;
}

.amazon-ppc-card-stat-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  opacity: 49%;
}

.amazon-ppc-card-ratings {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.amazon-ppc-card-ratings-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
  gap: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 16px 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(80px);
}

.amazon-ppc-card-ratings-img {
  width: 100px;
  height: 40px;
}

.amazon-ppc-card-ratings-img img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.amazon-ppc-card-ratings-stars {
  display: flex;
  gap: 6px;
  align-items: center;
}

.amazon-ppc-card-star-img {
  height: 16px;
  width: 16px;
}

.amazon-ppc-card-ratings div p {
  font-size: 12px;
  font-family: "inter";
  color: #fff;
  opacity: 0.9;
  margin: 0;
}

.amazon-ppc-card-ratings-description {
  display: flex;
  gap: 2px;
}

.amazon-ppc-card-bg {
  width: 100%;
  height: 50%;
  background: white;
  position: absolute;
  bottom: -1px;
  z-index: -1;
}

/* common css for accordian */

.accordion {
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}

.accordion-item {
  border-bottom: 4px solid #0f3940;
}

.accordion-header {
  background-color: #121921;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.accordion-header h1 {
  margin: 0;
  font-family: "Recoleta";
  font-size: clamp(1rem, 2.5vw, 2.25rem);
  color: #00fffc;
  font-weight: normal;
  padding: 0 15px 0 0;
}

.accordion-header img {
  width: clamp(0.9525rem, 2vw, 1.25rem);
  height: clamp(0.5625rem, 1.5vw, 0.8125rem);
  transition: transform 0.3s ease;
}

.accordion-header.active img.down {
  display: none;
}

.accordion-header.active {
  background: linear-gradient(to bottom, #123d94 0%, #123d94 40%, #0d3379 70%, #0d3379 100%);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.accordion-item.no-border {
  border-bottom: none !important; /* Force no border for previous item */
}

.accordion-header img.up {
  display: none;
}

.accordion-item.active {
  border-bottom: none;
}

.accordion-header.active img.up {
  display: block;
}

.accordion-header.active img.down {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.3s ease, padding 0.3s ease, background-color 0.3s ease; */
  background: linear-gradient(to bottom, #0d3379 0%, #0d3379 40%, #031e40 70%, #031e40 100%);
  color: white;
}

.accordion-content.active {
  max-height: max-content;
  padding: 0 20px 40px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.accordion-content div {
  padding-bottom: 20px;
}

.accordion-content p {
  font-size: clamp(10px, 2.5vw, 24px);
  font-family: "inter";
  margin: 0;
  color: #fff;
  padding: 0 16px;
}

.accordion-content img.up {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
}

/* Amazon PPC Section Middle */

.amazon-section {
  background: white;
}

.amazon-container {
}

.amazon-container-header h1 {
  font-family: "Recoleta", serif;
  font-weight: 300;
  color: #082c6b;
  font-size: clamp(36px, 5vw, 50px);
  margin-bottom: 10px;
}

.amazon-container-header h3 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: #131921;
  opacity: 0.8;
}

.amazon-content-img {
  display: none;
}

.amazon-ppc .accordion .accordion-item,
.amazon-keyword2 .accordion .accordion-item {
  border-bottom: none;
}

.amazon-ppc .accordion .accordion-item .accordion-header,
.amazon-keyword2 .accordion .accordion-item .accordion-header {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-bottom: 0px;
  padding-left: 0px;
}

.amazon-ppc .accordion .accordion-item .accordion-header.active,
.amazon-keyword2 .accordion .accordion-item .accordion-header.active {
  border-bottom: none;
}

.amazon-ppc .accordion .accordion-item .accordion-header h1,
.amazon-keyword2 .accordion .accordion-item .accordion-header h1 {
  color: #000000;
  font-size: clamp(1.5rem, 3vw, 20px);
  padding: 6px 10px 6px 0px;
  text-align: left;
}

.amazon-ppc .accordion .accordion-item .accordion-content,
.amazon-keyword2 .accordion .accordion-item .accordion-content {
  background: transparent;
}

.amazon-ppc .accordion .accordion-item .accordion-content.active,
.amazon-keyword2 .accordion .accordion-item .accordion-content.active {
  max-height: clamp(350px, 61vh, 610px);
  padding: clamp(8px, 2vw, 10px) 0;
}

.amazon-ppc .accordion .accordion-item .accordion-content div,
.amazon-keyword2 .accordion .accordion-item .accordion-content div {
  padding-bottom: 0px;
}

.amazon-ppc .accordion .accordion-item .accordion-content div p,
.amazon-keyword2 .accordion .accordion-item .accordion-content div p {
  color: black;
  padding: 0px;
  font-size: clamp(0.7rem, 3vw, 1rem);
}

.amazon-ppc .accordion .accordion-item .accordion-content div img,
.amazon-keyword2 .accordion .accordion-item .accordion-content div img {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Common css for fade section */
.fade-top,
.fade-bottom,
.fade-bottom-removeable {
  position: absolute;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
  z-index: 10;
}

.fade-top {
  background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.fade-bottom,
.fade-bottom-removeable {
  bottom: 0;
  background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.remove-fade-bottom {
  display: none;
}

/* Common css for fade section end*/

/* Amazon PPC Section Middle amazon keyword*/
.amazon-keyword {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.amazon-keyword header h1,
.amazon-keyword2 header h1 {
  font-size: clamp(36px, 5vw, 50px);
  font-weight: normal;
  font-family: "Recoleta", serif;
  font-weight: 300;
  color: #082c6b;
  margin-bottom: 10px;
}

.amazon-keyword header p,
.amazon-keyword2 header p {
  font-family: 'inter';
  font-size: clamp(0.6875rem, 2vw, 1rem);
  line-height: 1.5;
  margin-top: 10px;
  color: #131921;
  opacity: 0.9;
}

.timeline {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
}

.timeline-main-image-wrapper {
  display: none;
}

.timeline-item {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--timeline-gap);
  z-index: 10;
}

.timeline-line {
  position: relative;
}

.timeline-line::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  border-left: 2px dotted #d2d2d2;
  margin-top: 2px;
}

.timeline-content .timeline-content-item {
  margin-bottom: 20px;
}

.timeline-content .timeline-content-item > div {
  position: relative;
  transition: all 0.9s ease;
  z-index: 11;
}

.timeline-label {
  font-family: 'Rocoleta';
  color: #777;
  margin-bottom: 12px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.timeline-label-active {
  font-size: clamp(20px, 3vw, 28px);
  margin: 0 0 0 0;
  text-align: left;
  color: #000;
  cursor: text;
}

.timeline-label::before {
  content: "";
  height: 10px;
  width: 10px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--timeline-gap) - 6px);
  transform: translateY(-50%);
  transition: box-shadow 0.3s ease, background 0.3s ease;
}

.timeline-label-active::before {
  box-shadow: 0 0 16px 10px rgba(0, 100, 255, 1);
}

.timeline-text {
  font-family: 'inter';
  margin: 12px 0 20px;
  color: #000;
  line-height: 1.5;
  text-align: left;
  font-size: clamp(10px, 2vw, 14px);
  opacity: 0.7;
  max-height: fit-content;
  transition: -webkit-clip-path 0.6s ease, clip-path 0.6s ease, opacity 0.5s ease;
}

.timeline-text-visible {
  opacity: 1;
  -webkit-clip-path: inset(0 0 0 0) !important;
  clip-path: inset(0 0 0 0) !important;
}

.timeline-image-mobile {
  display: block;
  max-height: 0;
  opacity: 0;
  transform: scale(0.98);
  transition: -webkit-clip-path 0.7s ease, clip-path 0.7s ease, opacity 0.6s ease, transform 0.7s ease;
}
.timeline-image-mobile.active {
  display: block;
  max-height: 500px;
  opacity: 1;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transform: scale(1);
}

/* Amazon PPC Section Middle amazon-advertising */
.amazon-advertising {
  position: relative;
}

.amazon-advertising header {
  margin-top: clamp(10px, 5vw, 40px);
  font-family: "Recoleta", serif;
  font-size: clamp(14px, 5vw, 36px);
  font-weight: 400;
  color: #082c6b;
  text-align: center;
}

.amazon-advertising header h3 {
  font-family: "Recoleta";
  font-size: clamp(12px, 2.5vw, 32px);
  font-weight: normal;
  color: white;
  display: inline;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: black;
  line-height: 1.8;
  margin-top: 10px;
  text-align: center;
}

.amazon-advertising header h1 {
  font-family: "Recoleta", serif;
  color: #082c6b;
  font-weight: 400;
  font-size: clamp(36px, 5vw, 70px);
  margin-top: 20px;
  line-height: 1.14;
}

.amazon-advertising header p {
  font-family: 'Poppins';
  font-size: clamp(10px, 2vw, 18px);
  font-weight: normal;
  line-height: 1.2;
  margin-top: 10px;
  padding: 0 0;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}

.advertising-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5.5%;
  align-items: center;
  justify-content: space-between;
}

.advertising-card-right {
  flex-direction: column-reverse;
}

.advertising-card-text {
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.advertising-card-text h2 {
  font-family: "Recoleta", serif;
  font-size: clamp(20px, 4vw, 44px);
  font-weight: 400;
  color: #082c6b;
}

.advertising-card-text p {
  font-family: "inter";
  font-size: clamp(10px, 2.5vw, 20px);
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  opacity: 0.7;
}

.advertising-card-image {
  width: 100%;
}

.advertising-card-image img {
  width: 75%;
  margin: 0 auto;
}

/* Amazon PCC Section Bottom */
.amazon-ppc-strategy-container {
  position: relative;
}

.amazon-ppc-strategy-container::before {
  content: "";
  position: absolute;
  top: 0;
  height: calc(4rem + 50%);
  width: 100%;
  z-index: -1;
  background: #ffffff;
}

.amazon-ppc-strategy {
  background: linear-gradient(to right, #05214b 0%, #133c9f 40%, #194cc4 70%, #36abdb 100%);
  border-radius: 20px;
  margin: 0 auto;
}

.amazon-ppc-strategy .amazon-ppc-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 30px;
}

.amazon-ppc-strategy h1 {
  position: relative;
  color: white;
  font-family: "Recoleta", serif;
  font-size: clamp(18px, 5vw, 58px);
  font-weight: 400;
  padding: 0px 10px;
  z-index: 20;
  text-align: center;
}

.amazon-ppc-card-header span {
  color: #0fecee;
}

.amazon-ppc-strategy-img {
}

.amazon-ppc-strategy-img .img-wrapper {
  width: 95%;
  margin: 0 auto;
}

.ppc-question-header h1 {
  font-size: clamp(26px, 5vw, 64px);
  color: #fff;
  opacity: 0.9;
  font-weight: normal;
  font-family: "Recoleta", serif;
  margin: 0;
  padding-bottom: clamp(10px, 4vw, 59px);
  text-align: center;
}

/* Amazon Advertising Pricing */

.amazon-advertising-pricing {
  position: relative;
  margin-bottom: 50px;
}

.amazon-advertising-pricing-text {
  position: absolute;
  top: 10%;
  left: 7%;
}

.amazon-advertising-pricing-header h1 {
  font-size: clamp(24px, 5vw, 75px);
  color: #00fffc;
  font-weight: normal;
  font-family: "Recoleta", serif;
  margin: 0;
  text-align: left;
}

.amazon-advertising-pricing-header p {
  font-size: clamp(12px, 3vw, 37px);
  color: #fff;
  font-weight: normal;
  font-family: "Recoleta", serif;
  margin: 0;
  text-align: left;
}

.amazon-advertising-pricing-content {
  margin-top: clamp(4px, 10px, 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: clamp(2px, 4px, 10px);
}

.amazon-advertising-pricing-content h2 {
  color: #00fffc;
  font-size: clamp(16px, 3vw, 61px);
  font-family: "Recoleta", serif;
  font-weight: normal;
}

.amazon-advertising-pricing-content h1 {
  color: white;
  font-size: clamp(24px, 5vw, 76px);
  font-family: "Recoleta", serif;
  font-weight: normal;
}

.amazon-advertising-pricing-content p {
  color: white;
  font-size: clamp(12px, 2.5vw, 24px);
  font-family: "Poppins", serif;
  font-weight: normal;
}

.amazon-advertising-pricing-content button {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  font-weight: 600;
  background-color: #ffdc00;
  border-radius: 12px;
  border: none;
  padding: clamp(2px, 1vw, 10px) clamp(4px, 2vw, 20px);
  cursor: pointer;
  margin-top: 10px;
}

.amazon-advertising-pricing-img img {
  object-fit: fill;
  border-radius: 40px;
}

@media (min-width: 450px) {
  .panel__card-image img {
    width: 85%;
  }
}

@media (min-width: 500px) {
  .panel__card-image img {
    width: 78%;
  }
}

/* Small devices (large phones) */
@media (min-width: 580px) {
  .revenue-icon img {
    height: 30px;
    width: 30px;
  }

  .panel__card-image img {
    width: 60%;
  }

  .amazon-content-img {
    display: flex;
    width: 100%;
    gap: 3rem;
  }

  .amazon-keyword2 .amazon-content-img {
    margin-top: 2.5rem;
  }

  .amazon-ppc-wrapper,
  .amazon-keyword2-wrapper {
    position: relative;
    width: 40%;
  }

  .amazon-ppc-content,
  .amazon-keyword2-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    scrollbar-width: none;
    padding-bottom: 300px;
    will-change: transform;
  }

  .amazon-ppc-content-text,
  .amazon-keyword2-content-text {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
  }
  .amazon-ppc-content-text:first-child,
  .amazon-keyword2-content-text:first-child {
    margin-top: 130px;
  }

  .amazon-ppc-content h1,
  .amazon-keyword2-content h1 {
    font-family: "Recoleta", serif;
    font-size: 30px;
    font-weight: 400;
    color: #082c6b;
    margin-bottom: 10px;
  }

  .amazon-ppc-content p,
  .amazon-keyword2-content p {
    font-size: 16px;
    font-family: "inter";
    line-height: 1.9;
    margin-right: 22%;
  }

  .amazon-ppc-img,
  .amazon-keyword2-img {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 60%;
    align-items: center;
  }

  .amazon-ppc-img img,
  .amazon-keyword2-img img {
    /* position: absolute;
    inset: 0; */
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

  #ppcImage0,
  #keyImage0 {
    opacity: 1;
  }

  .radial {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(11, 131, 254, 0.8) 0%, rgba(11, 131, 254, 0) 70%);
    position: absolute;
    left: -60px;
    z-index: 1;
    filter: blur(40px);
  }

  .ppcImage,
  .keyImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .amazon-ppc .accordion,
  .amazon-keyword2 .accordion {
    display: none;
  }

  .timeline {
    flex-direction: row;
    gap: 5.5rem;
    align-items: center;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    margin-top: 2px;
    z-index: 3;
  }

  .timeline-main-image-wrapper {
    display: block;
    width: 50%;
    overflow: hidden;
  }

  .timeline-image-desktop {
    width: 100%;
    border-radius: 16px;
    margin-top: 20px;
    /* transition: width 0.4s ease, opacity 0.4s ease, transform 0.4s ease; */
  }

  .timeline-item {
    width: 50%;
    position: relative;
  }

  .timeline-image-mobile,
  .timeline-image-mobile.active {
    display: none;
  }

  .advertising-card {
    flex-direction: row;
  }

  .advertising-card-text {
    width: 45%;
    text-align: left;
  }

  .advertising-card-image {
    width: 55%;
  }

  .advertising-card-image img {
    margin: 0;
    margin-left: auto;
  }

  .advertising-card-right .advertising-card-image img {
    margin: 0;
    margin-right: auto;
  }

  .advertising-card-text-right {
    text-align: right;
  }

  .accordion-header h1 {
    padding: 15px 20px;
  }
}

@media (min-width: 680px) {
  .panel__card-image img {
    width: 50%;
  }
}

/* Tablets */
@media (min-width: 768px) {
  .hero-body {
    flex-direction: row;
    gap: 4rem;
  }

  .hero-1 {
    max-width: 40%;
    gap: 24px;
  }

  .hero-2 {
    max-width: 60%;
  }

  .btn-arrow {
    width: 38px;
    height: 38px;
  }

  .img-cover {
    display: block;
  }

  .img-cover-mobile {
    display: none;
  }

  .revenue-icon img {
    height: 30px;
    width: 30px;
  }

  .panel__stack .panel__card {
    flex-direction: row;
    padding: 6% 4% 4%;
  }

  .listing-optimization-desc {
    width: 45%;
    /* gap: 7rem; */
  }

  .panel__card-image {
    width: 45%;
  }

  .panel__card-image img {
    width: 100%;
  }

  .case-study-titles {
    padding: 0px 0 1% 0;
  }

  .case-study-container {
    padding: 40px;
  }

  .case-study-header {
    margin-bottom: 1%;
  }

  .case-study-header div img {
    height: 50px;
  }

  .case-study-growth-image-container {
    flex-direction: row;
  }

  .case-study-growth-left-side {
    width: 40%;
  }

  .case-study-container-img-body {
    width: 55%;
  }

  .case-study-container-img {
    position: absolute;
    bottom: -15%;
    left: 3.5%;
    width: 95%;
  }

  .case-study-container-img .case-study-img {
    display: block;
    height: auto;
  }

  .fake-review {
    width: 95%;
  }

  .fake-review-img {
    height: 60px;
    width: 60px;
  }

  .review-card-rating {
    gap: 18px;
    flex-direction: row;
    margin-top: 2px;
  }

  .our-impact-btn {
    margin-top: 1%;
  }

  .amazon-ppc-card {
    height: 630px;
  }

  .amazon-ppc-card-header {
    padding: 30px 0 0 0;
  }

  .amazon-ppc-card-stat {
    flex-direction: row;
    padding: 40px 60px;
    gap: 0;
  }

  .amazon-ppc-card-stat div {
    width: 200px;
  }

  .amazon-ppc-card-stat-line {
    height: 120px;
    width: 2px;
  }

  .amazon-ppc-card-ratings {
    flex-direction: row;
    gap: 10px;
    padding: 0px 90px;
  }

  .amazon-ppc-card-ratings-img {
    width: 80px;
    height: auto;
  }

  .amazon-content-img {
    gap: 5rem;
  }
}

/* Small laptops */
@media (min-width: 1024px) {
  .revenue-icon img {
    width: 40px;
    height: 40px;
  }

  .amazon-ppc-card-stat {
    padding: 40px 90px;
  }

  .panel__stack .panel__card {
    height: calc(100dvh - 10rem);
  }
}

/* Desktops */
@media (min-width: 1280px) {
  .revenue-icon img {
    width: 50px;
    height: 50px;
  }
}

/* Large / wide screens */
@media (min-width: 1536px) {
  .revenue-icon img {
    width: 60px;
    height: 60px;
  }
}
